
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/styles.css'>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
      <div class="container">
        <h1>Welcome to the Library</h1>

        <h3><a href="/patrons">Enter Patrons</a></h3>

        <h3><a href="/librarian/catalog/search">Enter Librarians</a></h3>
      </div>
  </body>
</html>
